body{
  background-color: rgb(63, 63, 63);
}

* {
    box-sizing: border-box;
}

 .spider-man{
  position: absolute;
  width:25%;
  height: auto;
}

.logo{
  width : 50%;
  position:relative; 
  left: 25%; 
  top: 50%;
}

header{
  background-color: rgb(233, 21, 21);
}



h1{
  font-family: Marvel; 
  font-size: 40px; 
  text-align: center;
  background-color: grey;
   border-style: solid;
  border-width: 5px;
}

.searchBar{
padding: 5px;
  font-size: 20px;
  border: 5px solid black;
  width: 80%;
  background: rgba(197, 189, 189, 0.829);
  margin-bottom:15px;
}

#searchButton{
  width: 35%;
  font-size: 12px;
  border: black;
  border-style: solid;
  border-width: 3px;
}
#searchButtonRandom{
  width: 35%;
  font-size: 12px;
   border: black;
  border-style: solid;
  border-width: 3px;
}

#newSearchButton{
  width: 35%;
  font-size: 12px;
   border: black;
  border-style: solid;
  border-width: 3px;
}
#searchButton:hover {
  background-color: rgba(241, 143, 143, 0.151);
}
#searchButtonRandom:hover {
  background-color: rgba(241, 143, 143, 0.151);
}

#newSearchButton:hover {
  background-color: rgba(241, 143, 143, 0.151);
}

.searchResults{
  font-size: 20px; 
border: 1px solid black;
border-radius: 10px;
background-color: rgba(197, 189, 189, 0.829);
  width: 80%;
 margin-left: 10%;
 text-align: center;
 margin-bottom: 25px;
}

.searchTitle{
  font-size: 25px;
  margin-bottom: 10px;
}

.result-name:link, .result-name:visited  {
  color: black;
  text-decoration: none;
}

.result-name:hover {
  background-color: rgba(236, 19, 19, 0.151);
  font-size: 23px;
}
.results{
border: 5px solid black;
border-radius: 10px;
display:none;
background-color: rgba(197, 189, 189, 0.829);
  width: 80%;
 margin-left: 10%;
}

.searchForm{
  text-align: center;
  padding-bottom: 20px;
}

#resultsTitle {
  text-align: center;
}

.thumbnailContainer, .descriptionContainer{
  text-align: center;
}

.comicsContainer{
  display:none;
}

h3{
  font-size: 18px;
}

.shield{
  display:none;
  background-color: black;
  border: 1px solid black;
  border-style: solid;
  border-width: 5px;
  color: white;
 height: 70px;
}

.shield-logo{
 width: 50px;
    float: left;
    margin-left: 10px;
}

.shield-word{
  font-size: 25px;
  text-align: center;
}
.comicsAppear, .seriesAppear{
  border-top: 5px solid black;
 text-align: center;
}

.url{
  display: none;
  border: 5px solid black;
  text-align: center;
  padding: 10px;
   background-color: rgba(197, 189, 189, 0.829);
}

.newSearchButton{
  display: none;
  text-align: center;
  padding-bottom: 10px;
}

footer{
  text-align: center;
  color:white;
  background-color: rgb(233, 21, 21);
}

@media only screen and (min-width: 700px) {
 .spider-man{
  position: absolute;
  width:30%;
  height: auto;
}
h1{
  font-size: 50px; 
}
#searchButton{
  width: 35%;
  font-size: 20px;
   padding: 5px;
}
#searchButtonRandom{
  width: 35%;
  font-size: 20px;
  padding: 5px;
}

#newSearchButton{
  width: 35%;
  font-size: 20px;
  padding: 5px;
}
.shield-word{
  font-size: 45px;
  text-align: center;
}

}

@media only screen and (min-width: 1001px) {
 .spider-man{
  position: absolute;
  width:25%;
  height: auto;
}
}
